.main{
	background-image: url(../img/cover.jpg);
	min-height: 700px;
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center center;
	background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px;
}
form,input,button{
	border:none;
}

.wrap{
	margin: 0 auto;
	width: 600px;
	max-width: 100%;
	background: rgba(0,0,0,0.8);
	padding: 50px;
	text-align: center;
	color:#fff;
}
h1{
	font-size: 40px;
	font-weight: 100;
	color: #fff;
}
h2,h3{
	font-weight: 100;
}
.cover{
	margin: 20px -20px;
}
.cover img{
	width: 100%;
}
.quote .author{
	font-style: normal;
	color:#bbb;
	font-size: 14px;
	vertical-align: center;
	line-height: 40px;
}
.quote .author img{
	line-height: 40px;
	vertical-align: center;
	width: 40px;
	height: 40px;
}
.wrap p{
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 100;
}
.ctas{
	margin: 20px 0;
}
.ctas form button.cta{
	display: block;
	width: 90%;
	margin:5px auto;
	padding: 12px;
	background: #43A753;
	color: #fff;
	border-radius:5px;
	transition:all .1s;
}
.ctas form button.cta:hover{
	background: #2A7B3C;
}
.btn.fb-link{
	display: block;
	width: 200px;
	max-width: 90%;
	margin:5px auto 20px auto;
	padding: 6px;
	background: #4E6FA7;
	color: #fff;
	border-radius:5px;
	transition:all .1s;
}
.btn.fb-link:hover{
	background: #3A537F;
}
p.disclaimer{
	font-size: 11px;
	color: #ddd;
}

.footer{
	background: #111;
	padding: 50px;
	color: #999;
}

@media screen and (max-width: 640px){
	.main{
		padding: 20px;
		min-height: auto;
		background: #3C5241;
	}
	.wrap{
		padding: 20px;
	}
	h1{
		font-size: 26px;
	}
	.wrap p{
		font-size: 14px;
	}
	.footer{
		padding: 20px;
	}
}